.intro {
  width: 50%;
  font-style: italic; 
}
.important {
  color: red;
}
.highlight {
  color: blue;
}
.sidebar {
  width: 40%;
  float: right;
  background-color: aqua;

}
.column {
  width: 400px;
  float: right;
  background-color: red;
}
.my-class {
  border: 2px solid blue;
  padding: 4px;
}